body {
    background-image: url('abalone.jpg');
     background-size: cover;
}
.form{
    margin: 0 auto; 
    color: orange;
    font-size: 22
}
.gender{
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.predict{
    margin: 0 auto; 
    color: black;
    font-size: 25
}

h1{
    color: green;
}
h2{
    color: yellow;
    font-size: 200%;
    padding: 10px;
}

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}